*{
  margin: 0;
  padding:0;
}

html,body {
  min-height: 100vh;
}
body{
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {

  width:800px;
  display: flex;
}
.menu{
  background-color: red;
  border-radius: 10px;
}

.profile {
  background-color: rgb(233, 233, 17);
  padding: 15px;
  border-radius: 10px;
}
.tracks {
  
  flex-grow: 1;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}
.profile img {
  height: 60px;
  width: 60px;
}

.calender {
  padding: 15px;
}
.track-itmes {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
}

.track-itmes__content {
  height: 80%;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: rgb(98, 98, 173);
}

.pink{
  background-color: pink;
}
.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}


.track-itmes .work {
  display: flex;
  
  
}

.top-item-work {
  background-color: orange;
  padding:15px;
  border-radius: 10px;
}